<form name="create_recipe" action='/recipes' method=POST>
  Create a new recipe!
  <p/>
  <p/>Title
  <br/><input type='text' name='title'>
  <p/>Created By
  <br/><input type='text' name='created_by'>
  <p/>Description
  <br/><input type='text' name='description'>
  <p/>Instructions
  <br/><input type='text' name='instructions'>
  <p/>
  <input type='submit' value='Create'>
</form>
