<h1>Quotes FTW</h1>

<% @quotes.each do |quote| %>
  <blockquote><p><%=quote[:quote]%></p>
    <footer>
      <cite><%=quote[:author]%></cite>
    </footer>
  </blockquote>
  <!-- TIL: http://html5doctor.com/cite-and-blockquote-reloaded/ -->
<% end %>

<h3>Search!</h3>
<form action='/search' method='GET'>
<input type='text' name='terms'>
</form>

<h5>Cool Searches</h5>
<p><a href='/search?terms=programming'>Find quotes about programming</a></p>
<p><a href='/search?terms=code'>Find quotes about code</a></p>

<h3>Authors!</h3>
<p><a href='/author/ada-lovelace'>Quotes by Ada Lovelace</a></p>
<p><a href='/author/e-w-dijkstra'>Quotes by E. W. Dijkstra</a></p>
<p><a href='/author/brian-w-kerinighan-and-p-j-plauger'>Quotes by Brian W. Kerinighan and P. J. Plauger</a></p>
<p><a href='/author/alan-turing'>Quotes by Alan Turing</a></p>
<p><a href='/author/john-carmack'>Quotes by John Carmack</a></p>
<p><a href='/author/grace-hopper'>Quotes by Grace Hopper</a></p>
<p><a href='/author/pablo-picasso'>Quotes by Pablo Picasso</a></p>
<p><a href='/author/zee-spencer'>Quotes by Zee Spencer</a></p>
