<html>
  <head>
    <title><%= @title %></title>
  </head>
  <body>
    Hello homies!
    <p/><p/>
    <%= time_of_day_message %>
    <a href="http://codeunion.io">CodeUnion</a>
    <p/><p/>

    <cite>Created by <%= creator %></cite>

    <hr>
    <footer>
      <%= erb :params_info if DEBUG %>
    </footer>
  </body>
</html>
