<html>
  <head>
    <title><%= @title %></title>
  </head>
  <body>
    Hello!
    <%= "ISLANDS" if params['text'] == 'islands' %>
    <hr>
    <footer>
      <%= erb :params_info %>
    </footer>
  </body>
</html>
